## Cleaning Artists Data

# Faire
#### --- Nationality ---
#### Group countries counted once into one group
#### Get Precentage of each country represented in Data
#### Gender by nationality
#### --- DoA Status

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
path = "Data/Old_Data/new_artists.csv"

In [3]:
artists_df = pd.read_csv(path)

In [4]:
# Old Data Frame
artists_df

,Unnamed: 0,Artist ID,Name,Nationality,Gender,Birth Year,Death Year
0,0,1,Robert Arneson,American,Male,1930.0,1992.0
1,1,2,Doroteo Arnaiz,Spanish,Male,1936.0,Alive
2,2,3,Bill Arnold,American,Male,1941.0,Alive
3,3,4,Charles Arnoldi,American,Male,1946.0,Alive
4,4,5,Per Arnoldi,Danish,Male,1941.0,Alive
5,5,6,Danilo Aroldi,Italian,Male,1925.0,Alive
6,6,7,Bill Aron,American,Male,1941.0,Alive
7,7,9,David Aronson,American,Male,1923.0,Alive
8,8,10,Irene Aronson,American,Female,1918.0,Alive
9,9,11,Jean (Hans) Arp,French,Male,1886.0,1966.0
10,10,12,Jüri Arrak,Estonian,Male,1936.0,Alive
11,11,13,J. Arrelano Fischer,Mexican,Male,1911.0,1995.0
12,12,15,Folke Arstrom,Swedish,Male,1907.0,1997.0
13,13,16,Cristobal Arteche,Spanish,Male,1900.0,1964.0
14,14,18,Artko,NaN,NaN,NaN,Alive
15,15,19,Richard Artschwager,American,Male,1923.0,2013.0
16,16,21,Ruth Asawa,American,Female,1926.0,2013.0
17,17,22,Isidora Aschheim,Israeli,Female,NaN,Alive
18,18,23,Charles Robert Ashbee,British,Male,1863.0,1942.0
19,19,24,Donald Ashcraft,American,Male,1927.0,Alive
20,20,25,E. M. Ashe,American,Male,1867.0,1941.0
21,21,26,Göran Åslin,Swedish,NaN,1940.0,Alive
22,22,27,Erik Gunnar Asplund,Swedish,Male,1885.0,1940.0
23,23,28,Geneviève Asse,French,Female,1923.0,Alive
24,24,30,Sergio Asti,Italian,Male,1926.0,Alive
25,25,31,Dana Atchley,American,Female,1941.0,2000.0
26,26,32,Atelier Eggers,French,NaN,NaN,Alive
27,27,33,A.A.P.,American,NaN,NaN,Alive
28,28,34,Alvar Aalto,Finnish,Male,1898.0,1976.0
29,29,35,Aino Aalto,Finnish,Female,1894.0,1949.0
...,...,...,...,...,...,...,...
15061,15061,67323,Greta Schiller,American,NaN,1954.0,Alive
15062,15062,67325,Carlos Saura,Spanish,NaN,1932.0,Alive
15063,15063,67326,Tessie Chua,American,NaN,1949.0,Alive
15064,15064,67327,Alexa Hunter,American,NaN,1957.0,Alive
15065,15065,67328,Jonathan Quinn,American,NaN,1956.0,Alive
15066,15066,67329,Rudi Protrudi,American,NaN,1952.0,Alive
15067,15067,67330,Bill Harris,American,NaN,1958.0,Alive
15068,15068,67331,Anney Bonney,American,NaN,NaN,Alive
15069,15069,67332,Glenn Andreiev,American,NaN,1961.0,Alive
15070,15070,67333,Manfred Blank,German,NaN,1949.0,Alive
15071,15071,67334,Kevin Asch,American,NaN,1975.0,Alive
15072,15072,67336,Cal Dalton,American,NaN,1908.0,1974.0
15073,15073,67337,Cal Howard,American,NaN,1911.0,1993.0
15074,15074,67340,M. Henry Jones,American,NaN,1957.0,Alive
15075,15075,67342,Mannie Davis,NaN,NaN,NaN,Alive
15076,15076,67345,George Haas,American,NaN,1953.0,Alive
15077,15077,67346,Jimmy Murray,NaN,NaN,NaN,Alive
15078,15078,67349,Julius Klein,American,NaN,1951.0,Alive
15079,15079,67350,Howard Guttenplan,American,NaN,1934.0,2015.0
15080,15080,67352,Neelon Crawford,American,NaN,1946.0,Alive
15081,15081,67353,Michael Mideke,NaN,NaN,NaN,Alive
15082,15082,67379,N. Dash,American,Female,1980.0,Alive
15083,15083,67420,Walter Burley Griffin,NaN,NaN,NaN,Alive
15084,15084,67437,Sebastian Black,American,Male,1985.0,Alive
15085,15085,67451,Xiao Yu,Chinese,Male,1965.0,Alive
15086,15086,67452,Liu Jianhua,Chinese,Male,1962.0,Alive
15087,15087,67453,Leng Lin,Chinese,Male,1965.0,Alive
15088,15088,67652,Ellie Nagler,NaN,NaN,NaN,Alive
15089,15089,67694,Glenn Williams,NaN,Male,NaN,Alive
15090,15090,67695,Ely Ramen,NaN,NaN,NaN,Alive

In [5]:
artists_df.drop(artists_df.columns[[0]], axis=1, inplace=True)
artists_df

,Artist ID,Name,Nationality,Gender,Birth Year,Death Year
0,1,Robert Arneson,American,Male,1930.0,1992.0
1,2,Doroteo Arnaiz,Spanish,Male,1936.0,Alive
2,3,Bill Arnold,American,Male,1941.0,Alive
3,4,Charles Arnoldi,American,Male,1946.0,Alive
4,5,Per Arnoldi,Danish,Male,1941.0,Alive
5,6,Danilo Aroldi,Italian,Male,1925.0,Alive
6,7,Bill Aron,American,Male,1941.0,Alive
7,9,David Aronson,American,Male,1923.0,Alive
8,10,Irene Aronson,American,Female,1918.0,Alive
9,11,Jean (Hans) Arp,French,Male,1886.0,1966.0
10,12,Jüri Arrak,Estonian,Male,1936.0,Alive
11,13,J. Arrelano Fischer,Mexican,Male,1911.0,1995.0
12,15,Folke Arstrom,Swedish,Male,1907.0,1997.0
13,16,Cristobal Arteche,Spanish,Male,1900.0,1964.0
14,18,Artko,NaN,NaN,NaN,Alive
15,19,Richard Artschwager,American,Male,1923.0,2013.0
16,21,Ruth Asawa,American,Female,1926.0,2013.0
17,22,Isidora Aschheim,Israeli,Female,NaN,Alive
18,23,Charles Robert Ashbee,British,Male,1863.0,1942.0
19,24,Donald Ashcraft,American,Male,1927.0,Alive
20,25,E. M. Ashe,American,Male,1867.0,1941.0
21,26,Göran Åslin,Swedish,NaN,1940.0,Alive
22,27,Erik Gunnar Asplund,Swedish,Male,1885.0,1940.0
23,28,Geneviève Asse,French,Female,1923.0,Alive
24,30,Sergio Asti,Italian,Male,1926.0,Alive
25,31,Dana Atchley,American,Female,1941.0,2000.0
26,32,Atelier Eggers,French,NaN,NaN,Alive
27,33,A.A.P.,American,NaN,NaN,Alive
28,34,Alvar Aalto,Finnish,Male,1898.0,1976.0
29,35,Aino Aalto,Finnish,Female,1894.0,1949.0
...,...,...,...,...,...,...
15061,67323,Greta Schiller,American,NaN,1954.0,Alive
15062,67325,Carlos Saura,Spanish,NaN,1932.0,Alive
15063,67326,Tessie Chua,American,NaN,1949.0,Alive
15064,67327,Alexa Hunter,American,NaN,1957.0,Alive
15065,67328,Jonathan Quinn,American,NaN,1956.0,Alive
15066,67329,Rudi Protrudi,American,NaN,1952.0,Alive
15067,67330,Bill Harris,American,NaN,1958.0,Alive
15068,67331,Anney Bonney,American,NaN,NaN,Alive
15069,67332,Glenn Andreiev,American,NaN,1961.0,Alive
15070,67333,Manfred Blank,German,NaN,1949.0,Alive
15071,67334,Kevin Asch,American,NaN,1975.0,Alive
15072,67336,Cal Dalton,American,NaN,1908.0,1974.0
15073,67337,Cal Howard,American,NaN,1911.0,1993.0
15074,67340,M. Henry Jones,American,NaN,1957.0,Alive
15075,67342,Mannie Davis,NaN,NaN,NaN,Alive
15076,67345,George Haas,American,NaN,1953.0,Alive
15077,67346,Jimmy Murray,NaN,NaN,NaN,Alive
15078,67349,Julius Klein,American,NaN,1951.0,Alive
15079,67350,Howard Guttenplan,American,NaN,1934.0,2015.0
15080,67352,Neelon Crawford,American,NaN,1946.0,Alive
15081,67353,Michael Mideke,NaN,NaN,NaN,Alive
15082,67379,N. Dash,American,Female,1980.0,Alive
15083,67420,Walter Burley Griffin,NaN,NaN,NaN,Alive
15084,67437,Sebastian Black,American,Male,1985.0,Alive
15085,67451,Xiao Yu,Chinese,Male,1965.0,Alive
15086,67452,Liu Jianhua,Chinese,Male,1962.0,Alive
15087,67453,Leng Lin,Chinese,Male,1965.0,Alive
15088,67652,Ellie Nagler,NaN,NaN,NaN,Alive
15089,67694,Glenn Williams,NaN,Male,NaN,Alive
15090,67695,Ely Ramen,NaN,NaN,NaN,Alive

In [6]:
# Setting Index to Name
artists_df.set_index('Name')

                       Artist ID Nationality  Gender  Birth Year Death Year
Name
Robert Arneson                 1    American    Male      1930.0     1992.0
Doroteo Arnaiz                 2     Spanish    Male      1936.0      Alive
Bill Arnold                    3    American    Male      1941.0      Alive
Charles Arnoldi                4    American    Male      1946.0      Alive
Per Arnoldi                    5      Danish    Male      1941.0      Alive
Danilo Aroldi                  6     Italian    Male      1925.0      Alive
Bill Aron                      7    American    Male      1941.0      Alive
David Aronson                  9    American    Male      1923.0      Alive
Irene Aronson                 10    American  Female      1918.0      Alive
Jean (Hans) Arp               11      French    Male      1886.0     1966.0
Jüri Arrak                    12    Estonian    Male      1936.0      Alive
J. Arrelano Fischer           13     Mexican    Male      1911.0     1995.0
Folke Arstrom                 15     Swedish    Male      1907.0     1997.0
Cristobal Arteche             16     Spanish    Male      1900.0     1964.0
Artko                         18         NaN     NaN         NaN      Alive
Richard Artschwager           19    American    Male      1923.0     2013.0
Ruth Asawa                    21    American  Female      1926.0     2013.0
Isidora Aschheim              22     Israeli  Female         NaN      Alive
Charles Robert Ashbee         23     British    Male      1863.0     1942.0
Donald Ashcraft               24    American    Male      1927.0      Alive
E. M. Ashe                    25    American    Male      1867.0     1941.0
Göran Åslin                   26     Swedish     NaN      1940.0      Alive
Erik Gunnar Asplund           27     Swedish    Male      1885.0     1940.0
Geneviève Asse                28      French  Female      1923.0      Alive
Sergio Asti                   30     Italian    Male      1926.0      Alive
Dana Atchley                  31    American  Female      1941.0     2000.0
Atelier Eggers                32      French     NaN         NaN      Alive
A.A.P.                        33    American     NaN         NaN      Alive
Alvar Aalto                   34     Finnish    Male      1898.0     1976.0
Aino Aalto                    35     Finnish  Female      1894.0     1949.0
...                          ...         ...     ...         ...        ...
Greta Schiller             67323    American     NaN      1954.0      Alive
Carlos Saura               67325     Spanish     NaN      1932.0      Alive
Tessie Chua                67326    American     NaN      1949.0      Alive
Alexa Hunter               67327    American     NaN      1957.0      Alive
Jonathan Quinn             67328    American     NaN      1956.0      Alive
Rudi Protrudi              67329    American     NaN      1952.0      Alive
Bill Harris                67330    American     NaN      1958.0      Alive
Anney Bonney               67331    American     NaN         NaN      Alive
Glenn Andreiev             67332    American     NaN      1961.0      Alive
Manfred Blank              67333      German     NaN      1949.0      Alive
Kevin Asch                 67334    American     NaN      1975.0      Alive
Cal Dalton                 67336    American     NaN      1908.0     1974.0
Cal Howard                 67337    American     NaN      1911.0     1993.0
M. Henry Jones             67340    American     NaN      1957.0      Alive
Mannie Davis               67342         NaN     NaN         NaN      Alive
George Haas                67345    American     NaN      1953.0      Alive
Jimmy Murray               67346         NaN     NaN         NaN      Alive
Julius Klein               67349    American     NaN      1951.0      Alive
Howard Guttenplan          67350    American     NaN      1934.0     2015.0
Neelon Crawford            67352    American     NaN      1946.0      Alive
Michael Mideke             67353         NaN     NaN         NaN      Alive
N. Dash                    67379    American  Female      1980.0      Alive
Walter Burley Griffin      67420         NaN     NaN         NaN      Alive
Sebastian Black            67437    American    Male      1985.0      Alive
Xiao Yu                    67451     Chinese    Male      1965.0      Alive
Liu Jianhua                67452     Chinese    Male      1962.0      Alive
Leng Lin                   67453     Chinese    Male      1965.0      Alive
Ellie Nagler               67652         NaN     NaN         NaN      Alive
Glenn Williams             67694         NaN    Male         NaN      Alive
Ely Ramen                  67695         NaN     NaN         NaN      Alive

[15091 rows x 5 columns]

In [7]:
artists_df.count()

Artist ID      15091
Name           15091
Nationality    12603
Gender         12019
Birth Year     11237
Death Year     15091
dtype: int64

In [8]:
artists_df = artists_df.dropna(how='any')
artists_df.count()

Artist ID      10304
Name           10304
Nationality    10304
Gender         10304
Birth Year     10304
Death Year     10304
dtype: int64

In [9]:
# Resetting index in new data frame
artists_df

,Artist ID,Name,Nationality,Gender,Birth Year,Death Year
0,1,Robert Arneson,American,Male,1930.0,1992.0
1,2,Doroteo Arnaiz,Spanish,Male,1936.0,Alive
2,3,Bill Arnold,American,Male,1941.0,Alive
3,4,Charles Arnoldi,American,Male,1946.0,Alive
4,5,Per Arnoldi,Danish,Male,1941.0,Alive
5,6,Danilo Aroldi,Italian,Male,1925.0,Alive
6,7,Bill Aron,American,Male,1941.0,Alive
7,9,David Aronson,American,Male,1923.0,Alive
8,10,Irene Aronson,American,Female,1918.0,Alive
9,11,Jean (Hans) Arp,French,Male,1886.0,1966.0
10,12,Jüri Arrak,Estonian,Male,1936.0,Alive
11,13,J. Arrelano Fischer,Mexican,Male,1911.0,1995.0
12,15,Folke Arstrom,Swedish,Male,1907.0,1997.0
13,16,Cristobal Arteche,Spanish,Male,1900.0,1964.0
15,19,Richard Artschwager,American,Male,1923.0,2013.0
16,21,Ruth Asawa,American,Female,1926.0,2013.0
18,23,Charles Robert Ashbee,British,Male,1863.0,1942.0
19,24,Donald Ashcraft,American,Male,1927.0,Alive
20,25,E. M. Ashe,American,Male,1867.0,1941.0
22,27,Erik Gunnar Asplund,Swedish,Male,1885.0,1940.0
23,28,Geneviève Asse,French,Female,1923.0,Alive
24,30,Sergio Asti,Italian,Male,1926.0,Alive
25,31,Dana Atchley,American,Female,1941.0,2000.0
28,34,Alvar Aalto,Finnish,Male,1898.0,1976.0
29,35,Aino Aalto,Finnish,Female,1894.0,1949.0
30,36,Eero Aarnio,Finnish,Male,1932.0,Alive
31,37,Jules Aarons,American,Male,1921.0,2008.0
32,38,Magdalena Abakanowicz,Polish,Female,1930.0,Alive
33,39,James Abbe,American,Male,1883.0,1973.0
34,40,Jussuff Abbo,British,Male,1888.0,1953.0
...,...,...,...,...,...,...
14974,49721,Sur Rodney (Sur),Canadian,Male,1954.0,Alive
14975,49722,Esther Regelson,American,Female,1959.0,Alive
14976,49723,Stephanie Rothman,American,Female,1936.0,Alive
14977,49733,Sharon Johnston,American,Female,1965.0,Alive
14978,49734,Mark Lee,American,Male,1967.0,Alive
14979,49776,Nicholas Ray,American,Male,1911.0,1979.0
14986,49850,Sidney Peterson,American,Male,1905.0,2000.0
14987,49887,Charles Harrison,American,Male,1931.0,Alive
14994,49918,Hermann Hesse,Swiss,Male,1877.0,1962.0
14997,49958,Romain Urhausen,Luxembourgish,Male,1930.0,Alive
14998,49959,Luc Dietrich,French,Male,1913.0,1944.0
15008,50106,Daniel Askill,Australian,Male,1977.0,Alive
15009,50125,Hans Petter Moland,Norwegian,Male,1955.0,Alive
15010,50127,Adam Guzinski,Polish,Male,1970.0,Alive
15012,50130,Andreas Hykade,German,Male,1968.0,Alive
15013,50154,Ann Magnuson,American,Female,1956.0,Alive
15017,50164,Albert Kahn,American,Male,1869.0,1942.0
15021,66584,Ignazio Gardella,Italian,Male,1905.0,1999.0
15024,67016,Spencer Williams,American,Male,1893.0,1969.0
15025,67095,Samuel Fosso,French,Male,1962.0,Alive
15027,67100,Ali Tayar,American,Male,1959.0,2016.0
15034,67122,Giorgia Lupi,Italian,Female,1981.0,Alive
15036,67128,Egidio Bonfante,Italian,Male,1922.0,2004.0
15044,67272,Toyin Ojih Odutola,American,Female,1985.0,Alive
15048,67288,Whitfield Lovell,American,Male,1959.0,Alive
15082,67379,N. Dash,American,Female,1980.0,Alive
15084,67437,Sebastian Black,American,Male,1985.0,Alive
15085,67451,Xiao Yu,Chinese,Male,1965.0,Alive
15086,67452,Liu Jianhua,Chinese,Male,1962.0,Alive
15087,67453,Leng Lin,Chinese,Male,1965.0,Alive

In [12]:
artists_df.dtypes

Artist ID        int64
Name            object
Nationality     object
Gender          object
Birth Year     float64
Death Year      object
dtype: object

In [10]:
# Changing Death Year Column in to "Living Status"
 # Using .rename(columns={}) in order to rename columns
artists_df['Living Status'] = artists_df['Death Year'] == 'Alive'
# Setting Index to Name
artists_df

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Artist ID,Name,Nationality,Gender,Birth Year,Death Year,Living Status
0,1,Robert Arneson,American,Male,1930.0,1992.0,False
1,2,Doroteo Arnaiz,Spanish,Male,1936.0,Alive,True
2,3,Bill Arnold,American,Male,1941.0,Alive,True
3,4,Charles Arnoldi,American,Male,1946.0,Alive,True
4,5,Per Arnoldi,Danish,Male,1941.0,Alive,True
5,6,Danilo Aroldi,Italian,Male,1925.0,Alive,True
6,7,Bill Aron,American,Male,1941.0,Alive,True
7,9,David Aronson,American,Male,1923.0,Alive,True
8,10,Irene Aronson,American,Female,1918.0,Alive,True
9,11,Jean (Hans) Arp,French,Male,1886.0,1966.0,False
10,12,Jüri Arrak,Estonian,Male,1936.0,Alive,True
11,13,J. Arrelano Fischer,Mexican,Male,1911.0,1995.0,False
12,15,Folke Arstrom,Swedish,Male,1907.0,1997.0,False
13,16,Cristobal Arteche,Spanish,Male,1900.0,1964.0,False
15,19,Richard Artschwager,American,Male,1923.0,2013.0,False
16,21,Ruth Asawa,American,Female,1926.0,2013.0,False
18,23,Charles Robert Ashbee,British,Male,1863.0,1942.0,False
19,24,Donald Ashcraft,American,Male,1927.0,Alive,True
20,25,E. M. Ashe,American,Male,1867.0,1941.0,False
22,27,Erik Gunnar Asplund,Swedish,Male,1885.0,1940.0,False
23,28,Geneviève Asse,French,Female,1923.0,Alive,True
24,30,Sergio Asti,Italian,Male,1926.0,Alive,True
25,31,Dana Atchley,American,Female,1941.0,2000.0,False
28,34,Alvar Aalto,Finnish,Male,1898.0,1976.0,False
29,35,Aino Aalto,Finnish,Female,1894.0,1949.0,False
30,36,Eero Aarnio,Finnish,Male,1932.0,Alive,True
31,37,Jules Aarons,American,Male,1921.0,2008.0,False
32,38,Magdalena Abakanowicz,Polish,Female,1930.0,Alive,True
33,39,James Abbe,American,Male,1883.0,1973.0,False
34,40,Jussuff Abbo,British,Male,1888.0,1953.0,False
...,...,...,...,...,...,...,...
14974,49721,Sur Rodney (Sur),Canadian,Male,1954.0,Alive,True
14975,49722,Esther Regelson,American,Female,1959.0,Alive,True
14976,49723,Stephanie Rothman,American,Female,1936.0,Alive,True
14977,49733,Sharon Johnston,American,Female,1965.0,Alive,True
14978,49734,Mark Lee,American,Male,1967.0,Alive,True
14979,49776,Nicholas Ray,American,Male,1911.0,1979.0,False
14986,49850,Sidney Peterson,American,Male,1905.0,2000.0,False
14987,49887,Charles Harrison,American,Male,1931.0,Alive,True
14994,49918,Hermann Hesse,Swiss,Male,1877.0,1962.0,False
14997,49958,Romain Urhausen,Luxembourgish,Male,1930.0,Alive,True
14998,49959,Luc Dietrich,French,Male,1913.0,1944.0,False
15008,50106,Daniel Askill,Australian,Male,1977.0,Alive,True
15009,50125,Hans Petter Moland,Norwegian,Male,1955.0,Alive,True
15010,50127,Adam Guzinski,Polish,Male,1970.0,Alive,True
15012,50130,Andreas Hykade,German,Male,1968.0,Alive,True
15013,50154,Ann Magnuson,American,Female,1956.0,Alive,True
15017,50164,Albert Kahn,American,Male,1869.0,1942.0,False
15021,66584,Ignazio Gardella,Italian,Male,1905.0,1999.0,False
15024,67016,Spencer Williams,American,Male,1893.0,1969.0,False
15025,67095,Samuel Fosso,French,Male,1962.0,Alive,True
15027,67100,Ali Tayar,American,Male,1959.0,2016.0,False
15034,67122,Giorgia Lupi,Italian,Female,1981.0,Alive,True
15036,67128,Egidio Bonfante,Italian,Male,1922.0,2004.0,False
15044,67272,Toyin Ojih Odutola,American,Female,1985.0,Alive,True
15048,67288,Whitfield Lovell,American,Male,1959.0,Alive,True
15082,67379,N. Dash,American,Female,1980.0,Alive,True
15084,67437,Sebastian Black,American,Male,1985.0,Alive,True
15085,67451,Xiao Yu,Chinese,Male,1965.0,Alive,True
15086,67452,Liu Jianhua,Chinese,Male,1962.0,Alive,True
15087,67453,Leng Lin,Chinese,Male,1965.0,Alive,True

In [11]:
# Setting Index to Name
artists_df.set_index('Name')

,Artist ID,Nationality,Gender,Birth Year,Death Year,Living Status
Name,,,,,,
Robert Arneson,1,American,Male,1930.0,1992.0,False
Doroteo Arnaiz,2,Spanish,Male,1936.0,Alive,True
Bill Arnold,3,American,Male,1941.0,Alive,True
Charles Arnoldi,4,American,Male,1946.0,Alive,True
Per Arnoldi,5,Danish,Male,1941.0,Alive,True
Danilo Aroldi,6,Italian,Male,1925.0,Alive,True
Bill Aron,7,American,Male,1941.0,Alive,True
David Aronson,9,American,Male,1923.0,Alive,True
Irene Aronson,10,American,Female,1918.0,Alive,True
Jean (Hans) Arp,11,French,Male,1886.0,1966.0,False
Jüri Arrak,12,Estonian,Male,1936.0,Alive,True
J. Arrelano Fischer,13,Mexican,Male,1911.0,1995.0,False
Folke Arstrom,15,Swedish,Male,1907.0,1997.0,False
Cristobal Arteche,16,Spanish,Male,1900.0,1964.0,False
Richard Artschwager,19,American,Male,1923.0,2013.0,False
Ruth Asawa,21,American,Female,1926.0,2013.0,False
Charles Robert Ashbee,23,British,Male,1863.0,1942.0,False
Donald Ashcraft,24,American,Male,1927.0,Alive,True
E. M. Ashe,25,American,Male,1867.0,1941.0,False
Erik Gunnar Asplund,27,Swedish,Male,1885.0,1940.0,False
Geneviève Asse,28,French,Female,1923.0,Alive,True
Sergio Asti,30,Italian,Male,1926.0,Alive,True
Dana Atchley,31,American,Female,1941.0,2000.0,False
Alvar Aalto,34,Finnish,Male,1898.0,1976.0,False
Aino Aalto,35,Finnish,Female,1894.0,1949.0,False
Eero Aarnio,36,Finnish,Male,1932.0,Alive,True
Jules Aarons,37,American,Male,1921.0,2008.0,False
Magdalena Abakanowicz,38,Polish,Female,1930.0,Alive,True
James Abbe,39,American,Male,1883.0,1973.0,False
Jussuff Abbo,40,British,Male,1888.0,1953.0,False
...,...,...,...,...,...,...
Sur Rodney (Sur),49721,Canadian,Male,1954.0,Alive,True
Esther Regelson,49722,American,Female,1959.0,Alive,True
Stephanie Rothman,49723,American,Female,1936.0,Alive,True
Sharon Johnston,49733,American,Female,1965.0,Alive,True
Mark Lee,49734,American,Male,1967.0,Alive,True
Nicholas Ray,49776,American,Male,1911.0,1979.0,False
Sidney Peterson,49850,American,Male,1905.0,2000.0,False
Charles Harrison,49887,American,Male,1931.0,Alive,True
Hermann Hesse,49918,Swiss,Male,1877.0,1962.0,False
Romain Urhausen,49958,Luxembourgish,Male,1930.0,Alive,True
Luc Dietrich,49959,French,Male,1913.0,1944.0,False
Daniel Askill,50106,Australian,Male,1977.0,Alive,True
Hans Petter Moland,50125,Norwegian,Male,1955.0,Alive,True
Adam Guzinski,50127,Polish,Male,1970.0,Alive,True
Andreas Hykade,50130,German,Male,1968.0,Alive,True
Ann Magnuson,50154,American,Female,1956.0,Alive,True
Albert Kahn,50164,American,Male,1869.0,1942.0,False
Ignazio Gardella,66584,Italian,Male,1905.0,1999.0,False
Spencer Williams,67016,American,Male,1893.0,1969.0,False
Samuel Fosso,67095,French,Male,1962.0,Alive,True
Ali Tayar,67100,American,Male,1959.0,2016.0,False
Giorgia Lupi,67122,Italian,Female,1981.0,Alive,True
Egidio Bonfante,67128,Italian,Male,1922.0,2004.0,False
Toyin Ojih Odutola,67272,American,Female,1985.0,Alive,True
Whitfield Lovell,67288,American,Male,1959.0,Alive,True
N. Dash,67379,American,Female,1980.0,Alive,True
Sebastian Black,67437,American,Male,1985.0,Alive,True
Xiao Yu,67451,Chinese,Male,1965.0,Alive,True
Liu Jianhua,67452,Chinese,Male,1962.0,Alive,True
Leng Lin,67453,Chinese,Male,1965.0,Alive,True

In [15]:
# ---- REMEBER ME ----
# Updated csv file
artists_df.to_csv("Artists.csv", sep=",")

## Analysing Nationalies

In [12]:
Nationality_df = pd.DataFrame(artists_df["Nationality"].value_counts())
Nationality_df

                 Nationality
American                4423
German                   770
French                   716
British                  675
Italian                  417
Japanese                 371
Swiss                    226
Austrian                 216
Dutch                    207
Canadian                 171
Russian                  145
Brazilian                135
Spanish                  127
Argentine                112
Mexican                  105
Polish                   104
Danish                    94
Swedish                   89
Belgian                   83
Czech                     71
Chinese                   67
Israeli                   63
South African             57
Chilean                   54
Australian                49
Cuban                     47
Finnish                   43
Hungarian                 42
Colombian                 41
Venezuelan                34
...                      ...
Syrian                     1
Estonian                   1
Namibian                   1
Sudanese                   1
Guyanese                   1
Rwandan                    1
Cypriot                    1
Afghan                     1
Macedonian                 1
Burkinabe                  1
Tajik                      1
Cameroonian                1
Welsh                      1
Mozambican                 1
Nicaraguan                 1
Ethiopian                  1
Kuwaiti                    1
Bahamian                   1
Ugandan                    1
Azerbaijani                1
Indonesian                 1
Czechoslovakian            1
Saudi Arabian              1
Mauritanian                1
Ivorian                    1
Cambodian                  1
Paraguayan                 1
Tanzanian                  1
Angolan                    1
Native American            1

[118 rows x 1 columns]

In [14]:
# Nationaloty Count and deleted values counted as 1
Nationality_df = pd.DataFrame(artists_df["Nationality"].value_counts())[: -60]

Nationality_df

                     Nationality
American                    4423
German                       770
French                       716
British                      675
Italian                      417
Japanese                     371
Swiss                        226
Austrian                     216
Dutch                        207
Canadian                     171
Russian                      145
Brazilian                    135
Spanish                      127
Argentine                    112
Mexican                      105
Polish                       104
Danish                        94
Swedish                       89
Belgian                       83
Czech                         71
Chinese                       67
Israeli                       63
South African                 57
Chilean                       54
Australian                    49
Cuban                         47
Finnish                       43
Hungarian                     42
Colombian                     41
Venezuelan                    34
Peruvian                      31
Korean                        31
Norwegian                     30
Nationality unknown           28
Turkish                       25
Indian                        25
Scottish                      24
Uruguayan                     20
Iranian                       20
Yugoslav                      19
Croatian                      19
Irish                         18
Romanian                      18
Haitian                       13
Portuguese                    13
Ukrainian                     11
Greek                         10
New Zealander                 10
Icelandic                      9
Bosnian                        8
Slovak                         7
Egyptian                       7
Georgian                       7
Lebanese                       6
Moroccan                       5
Guatemalan                     5
Taiwanese                      5
Algerian                       5

In [7]:
# Created new Nationality csv file
Nationality_df.to_csv("Nationality.csv", sep=",")

In [55]:
# Getting total count of Nationalities
# Getting Percentage of countries  represented in MoMa
nations = Nationality_df["Nationality"].count()/58 * 100
nations

100.0

## Analysing Gender

In [5]:
# Gender 
count = artists_df["Gender"].value_counts()/10304 * 100
count

Male      95.302795
Female    21.282997
male       0.058230
Name: Gender, dtype: float64

In [6]:
count.to_csv("gender.csv", sep=',')

In [16]:
total_gender = artists_df["Gender"].count()
total_gender

10304

In [17]:
# Gender Summary Table
summary_table = pd.DataFrame([
    {"Male": 8469, "Female": 1835, "Total": 10304},
    {"Male": "82.2%", "Female": "17%", "Total": "100%"}
])
summary_table

  Female   Male  Total
0   1835   8469  10304
1    17%  82.2%   100%

In [1]:
# Age of Artists
# Calculate the earliest/latest year a book was published
youngest_artist = artists_df["Birth Year"].unique().max()
oldest_artist = artists_df["Birth Year"].unique().min()
oldest_artist
youngest_artist

NameError: name 'artists_df' is not defined

In [ ]:
# Artists still Alive
living_artists = artists_df["Living Status"].value_counts()/10304 * 100
living_artists
print("Artists Still Alive ")
print("--------------------")
living_artists

##  Data Visualization

In [24]:
import matplotlib.pyplot as plt
import matplotlib.cbook as cbook
import matplotlib.cm as cm
import numpy as np


# Data are 256x256 16 bit integers
with cbook.get_sample_data('s1045.ima.gz') as dfile:
    im = np.fromstring(dfile.read(), np.uint16).reshape((256, 256))

fig, ax = plt.subplots(num="MRI_demo")
ax.imshow(im, cmap=cm.gray)
ax.axis('off')

plt.show()

FileNotFoundError: [Errno 2] No such file or directory: '/anaconda3/lib/python3.6/site-packages/matplotlib/mpl-data/sample_data/s1045.ima.gz'